{% extends 'base.html' %}
{% block title %} Pago-Formulario {% endblock title %}
{% block content %}
<div style="margin-top: 4rem;">
    <form>
        <label for="num_pago">Número de pago:</label>
        <input type="number" id="num_pago">
        <label for="descripcion_pago">Descripción:</label>
        <textarea id="descripcion_pago" rows="4" cols="5"></textarea>
        <label for="fecha_pago">Fecha de pago:</label>
        <input type="date" id="fecha_pago">
        <label for="cantidad_pago">Monto:</label>
        <input type="number" id="cantidad_pago">
        <label for="empleado_pago">Empleado:</label>
        <select id="empleado_pago">
            <option>-----</option>
            <option>0 - Amner Pérez</option>
        </select>
        <label for="compra_pago">Número de compra:</label>
        <select id="compra_pago">
            <option>-----</option>
            <option>001</option>
        </select>
        <button>Guardar</button>
    </form>
</div>
{% endblock content %}