{% extends 'base.html' %}
{% block title %} Empleado-Formulario{% endblock title %}
{% block content %}
<div class="bloque">
    <h1>Empleado</h1>
    <div class="opciones">
        <button id="nuevo" type="submit" class="btn btn-success">Nuevo</button>
        <button id="listar" type="submit" class="btn btn-primary">Lista</button>
    </div>
    <form class="formulario">
        <div id="colspan-2">
            <input type="text" class="form-control" id="cod_empleado" placeholder="Codigo de empleado">
        </div>
        {% include 'persona.html' %}
        <div id="colspan-2">
            <input type="text" class="form-control" id="correo_empleado" placeholder="Correo">
        </div>
        <div>
            <input type="text" class="form-control" id="contra_empleado" placeholder="Contraseña">
        </div>
        <div>
            <input type="text" class="form-control" id="contra_confirm_empleado" placeholder="Confimar contraseña">
        </div>
        <div>
            <select id="sucursal_empleado" class="form-select">
                <option selected>Sucursal</option>
                <option>-----</option>
                <option>CH</option>
                <option>CH2</option>
            </select>
        </div>
        <div>
            <select id="puesto_empleado" class="form-select">
                <option selected>Puesto</option>
                <option>-----</option>
                <option>Vendedor</option>
                <option>Cajero</option>
            </select>
        </div>

        <div id="opciones2">
            <button id="guardar" type="submit" class="btn btn-success">Guardar</button>
            <button id="eliminar" type="submit" class="btn btn-danger">Eliminar</button>
        </div>
    </form>
</div>
{% endblock content %}