{% extends 'base.html' %}
{% block title %} Descuento-Formulario{% endblock title %}
{% block content %}

<div class="bloque">
    <h1>Descuento</h1>
    <div class="opciones">
        <button id="nuevo" type="submit" class="btn btn-success">Nuevo</button>
        <button id="listar" type="submit" class="btn btn-primary">Lista</button>
    </div>
    <form class="formulario">
        <div>
            <input type="number" class="form-control" id="cod_descuento" placeholder="Cod Descuento">
        </div>
        <div>
            <input type="text" class="form-control" id="nombre_categoria" placeholder="Porcentaje">
        </div>
        
        <textarea class="form-control" id="descripcion_categoria" placeholder="Descripcion"></textarea>
        <div id="opciones2">
            <button id="guardar" type="submit" class="btn btn-success">Guardar</button>
            <button id="eliminar" type="submit" class="btn btn-danger">Eliminar</button>
        </div>
    </form>
</div>
{% endblock content %}